<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.database.MessageMapper">
	<insert id="insertMessage" parameterType="Message">
	insert into web_message values(num_message.nextval, #{sender}, #{recipient}, #{message}, sysdate)
	</insert>

	
	<select id="showMessage" resultType="Message">
	select * from web_message where recipient=#{email} 
	</select>

	<delete id="deleteMessage" parameterType="Message">
	delete from web_message where num=#{num}
	</delete>
	
	<delete id="deleteAllMessage" parameterType="Message">
	delete from web_message where recipient=#{recipient}
	</delete>


</mapper>