<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.database.MatchMapper">

	<insert id="join" parameterType="Match">
	INSERT INTO TB_MATCH(START_HOUR,LAST_HOUR,PEOPLE_NUM,F_LEVEL,TEXT) VALUES (#{starttime},#{finishtime},
						#{peoplenum},#{level},#{comment})
	</insert>


</mapper>