button{
    width: 120px;
    height: 40px;
    background-color: #62ac2e;
    border: none;
    color: white;
    font-size: 16px;
    font-weight:bold;
    border-radius: 10px;
}
input-file-button{
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
btnOfinput{
	display:none;
	
}
body {
    margin-left: 1px; /* 원하는 여백 값으로 조절하세요 */
}